html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.charts-container {
  display: flex;
  justify-content: left;
  align-items: flex; /* alinea verticalmente arriba */
  gap: 20px; /* espacio entre ambos */
  flex-wrap: wrap; /* permite que se apilen si la pantalla es pequeña */
  margin-top: 30px;
}

#chart {
  width: 1100px;
  max-width: 80%;      /* evita que crezcan demasiado */
  height: 800px;
  border-radius: 6px;
}

#mini-chart {
  width: 150px;
  max-width: 20%;
  height: 700px;
}

#chart .gtitle {
  font-size: 28px !important;
  font-weight: bold !important;
}
